{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * @author    kerosin
 * @copyright Copyright (c) 2021 kerosin
 * @link      https://github.com/kerosin
 * @package   GoogleShoppingFeedPro
 * @since     1.0.0
 */
#}
{% spaceless %}
    <?xml version="1.0" encoding="UTF-8"?>
    <rss xmlns:g="http://base.google.com/ns/1.0" version="2.0">
        <channel>
            <title><![CDATA[{{ siteName }}]]></title>
            <link><![CDATA[{{ siteUrl }}]]></link>
            {% for element in elements %}
                {% if craft.googleShoppingFeedPro.isIncludeElementVariants(element) %}
                    {% for variant in element.variants() %}
                        {% include 'google-shopping-feed-pro/_includes/item' with {element: variant} %}
                    {% endfor %}
                {% else %}
                    {% include 'google-shopping-feed-pro/_includes/item' %}
                {% endif %}
            {% endfor %}
        </channel>
    </rss>
{% endspaceless %}
